Source: nautilus-columns
Section: gnome
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://ubuntuforums.org/showpost.php?p=6643803&postcount=4

Package: nautilus-columns
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3,
    python3-gi,
    python3-pil,
    gir1.2-nautilus-3.0,
    gir1.2-gexiv2-0.10,
    python3-nautilus,
    python3-mutagen,
    python3-pypdf2,
    python3-plumbum,
    mediainfo
Description: Nautilus Extension
 *** Unofficial package ***
 A Nautilus extension to display music/EXIF and PDF metadata info in the 
 Nautilus List View. This package provides a Nautilus extension.
